In [2]:
i =1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [3]:
i =1 
while i<=5:
    print("nehal")
    i+=1

nehal
nehal
nehal
nehal
nehal

In [6]:
i = 100 
while i >=1 :
    print(i)
    i-=1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [11]:
n = int(input("enter the table : "))
i = 1 
while i <=10:
    print(n,"x",i,"=",n*i)
    i+=1

enter the table :  13

13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130

In [15]:
list = [1,2,3,5,4,6,7,8,9,12]
i = 0 
while i <len(list):
    print(list[i])
    i+=1

1
2
3
5
4
6
7
8
9
12

In [23]:
list = [1,2,3,5,4,6,7,8,9,12]
i = 0
search =int(input("enter : "))
while i <len(list):
    if(search == list[i]):
        print("the index number of ",search ,"is",i)
    i+=1

enter :  2

the index number of  2 is 1

In [ ]:
i =1
while i<=5 :
    print (i)
    if (i==3 ):
        break 
    i+=1

In [ ]:
i =1 
while i <=10:
    if (i%2==0):
        i+=1
        continue
    print(if)i+=1